.filter {
    display: flex;
    flex-wrap: wrap;
}

.filter__ingredient {
    margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter__btn {
    align-self: center;
}