.recipelist {
    margin: 2rem;
    max-width: 500px;
    background-color: #FAD6A5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Cairo';
}

.recipelist__img {
    height: 130px;
    width: 150px;
    object-fit: cover;
}

.recipelist__info {
    width: 60%;
    margin: .5rem;
}

.recipelist__btn {
    background-color: #CBAC81;
    border: none;
    border-radius: 3px;
    width: 140px;
    height: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.recipelist__header {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}