.ingredient {
    margin: .5rem;
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ingredient__text {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}