.instruction {
    margin: .5rem;
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.instruction__num {
    align-self: flex-start;
    padding: .4rem;
    padding-top: 0;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

.instruction__text {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}