.start__meal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start__img {
    width: 300px;
    margin: 1rem;
}

.start__meal--heading {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.start__ratelike {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .8rem;
}

.start__btn {
    font-family: 'Cairo';
    font-weight: 500;
    font-size: 20px;
    width: 178px;
    height: 48px;
    background: #FAD6A5;
    border-radius: 5px;
    border: none;
    margin-top: .5rem;
}